@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Sigmar+One&display=swap");

* {
  font-family: "Secular One", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#star {
  margin-top: 7px;
  width: 40px;
  position: absolute;
}

#char {
  width: 50px;
  position: absolute;
}

#btnSound.sound-on img {
  content: url("Asset/soundOn.png");
}

#btnSound.sound-off img {
  content: url("Asset/soundOff.png");
}

button.btnSound {
  margin-bottom: 30px;
  margin-right: 90%;
}

button#btnSound {
  padding: 1.25em 2em;
  background: #00ffa0;
  border: 2px solid black;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button#btnSound::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00ffa0;
  border-radius: inherit;
  box-shadow: 0 0 0 2px black;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button#btnSound:hover {
  transform: translate(0, 0.25em);
}

button#btnSound:active {
  transform: translate(0em, 0.75em);
}

.eatIcon {
  width: 130%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.sleepIcon {
  width: 100%;
  margin-bottom: 10px;
}

.gameIcon {
  width: 100%;
  margin-bottom: 10px;
}

.healthIcon {
  width: 50%;
  margin-bottom: 10px;
}

.charPilihan {
  position: relative;
  animation: float 3s infinite;
}

.gameBox {
  position: relative;
  width: 80%;
  height: 300px;
  background: #00ffa0;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  margin: 0 auto;
  position: relative;
}

.card {
  width: 50%;
  height: 50%;
  background: #00ffa0;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  margin: 0 auto;
}

.stats {
  display: flex;
  padding: 10px;
}

.statsLogo {
  width: 50px;
  font-size: 16px;
}

.statsBar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 7px;
}

.statsPercent {
  background-color: #333;
  height: 100%;
}

.imagePilihan {
  width: 25%;
}

.arrow {
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  background: #00ffa0;
  box-shadow: 3px 3px black;
  margin-top: 20px;
  width: 80px;
  text-align: center;
}

.btn {
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  background: #00ffa0;
  box-shadow: 3px 3px black;
  margin-top: 20px;
  width: 50%;
  text-align: center;
}

#btnSound {
  margin: auto auto 40px auto;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.bgImagePagi {
  background-image: url(Asset/img/Background/Morning.svg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-in-out;
  position: relative;
}

.bgImageSiang {
  background-image: url(Asset/img/Background/Afternoon.svg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.bgImageSore {
  background-image: url(Asset/img/Background/Evening.svg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.bgImageMalam {
  background-image: url(Asset/img/Background/Night.svg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.carousel-item img {
  margin: auto;
}

/* mainStart */
.logo {
  width: 8%;
}

.choiceChar {
  width: 25%;
}

#namaPetForm {
  width: 40%;
  margin: auto;
}

#namaPetForm::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.btnPlay {
  padding: 16px 32px;
  border: 2px solid white;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(35deg, rgba(2, 0, 36, 1) 0%, rgba(139, 55, 255, 1) 0%, rgba(0, 142, 255, 1) 100%);
  font-style: italic;
  color: white;
}

.iconNav {
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
}
/* Akhir mainStart */

@media (max-width: 992px) {
  .choiceChar {
    width: 50%;
  }

  .iconNav {
    width: 50px;
  }

  .logo {
    width: 15%;
  }

  .imagePilihan {
    width: 50%;
  }

  .btn {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  #namaPetForm {
    width: 80%;
  }

  #btnSound img {
    width: 20px;
  }

  #btnSound {
    width: 90px;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size: 1.5rem;
  }

  #btnSound img {
    width: 30px;
  }
}
